@page "/generos/crear"
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal

<div>
    <h3>Crear Género</h3>
    <FormularioGenero @ref="formGenero" Genero="Genero" OnValidSubmit="Crear" />
</div>
