@page "/generos/crear"
@using Microsoft.AspNetCore.Authorization;
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal
@attribute [Authorize(Roles = "admin")]

<div>
    <h3>Crear Género</h3>
    <FormularioGenero @ref="formGenero" Genero="Genero" OnValidSubmit="Crear" />
</div>
