@page "/generos/editar/{GeneroId:int}"
@inject NavigationManager navigationManager

<div>
    <h3>Editar Género</h3>
    <FormularioGenero @ref="formGenero" Genero="Genero" OnValidSubmit="Editar" />
</div>
