@page "/generos"
@using Microsoft.AspNetCore.Authorization;
@inject IRepositorio repo
@inject IRepositorio repositorio
@inject SweetAlertService swal
@inject NavigationManager navigationManager
@attribute [Authorize(Roles = "admin")]

<h3>Listado géneros</h3>
<div class="mb-3">
    <a href="generos/crear" class="btn btn-info">Agregar Género</a>
</div>

<ListadoGenerico listado="Generos">
    <HayRegistrosCompleto>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Generos!)
                {
                    <tr>
                        <td>
                            <a href="/generos/editar/@item.Id" class="btn btn-success">Editar</a>
                            <button class="btn btn-danger" @onclick="(() => Borrar(item))">Borrar</button>
                        </td>
                        <td>
                            @item.Nombre
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </HayRegistrosCompleto>
</ListadoGenerico>