@page "/"
@inject IRepositorio repo

<PageTitle>Blazor películas</PageTitle>

<AuthorizeView Roles="admin">
    <Authorized>
        Estas autenticado, @context.User.Identity!.Name
    </Authorized>
    <NotAuthorized>
        No autorizado
    </NotAuthorized>
</AuthorizeView>

<div>
    <h3>En Cartelera</h3>
    <ListadoPeliculas @ref="listadoPeliculas" pelis="EnCartelera">
        @*     <Cargando>
        Cargando datos relacionados con las pelis
        </Cargando>
        <NoHayPelis>
        No HAY!
        </NoHayPelis> *@
    </ListadoPeliculas>
</div>

<div>
    <h3>Próximos Estrenos</h3>
    <ListadoPeliculas pelis="FuturosEstrenos">
    </ListadoPeliculas>
</div>

@* <button @onclick="LimpiarPeliculas">Limpiar películas</button> *@

@* <BindAfterDemo /> *@

@* <div>
    <h2>Crear película</h2>
    <EjemploTextbox placeholder="Nombre de película" />

</div> *@

@* <button @onclick="AgregarPeli">Agregar peli</button> *@

@code {
    public List<Pelicula> pelis { get; set; } = null!;

    public List<Pelicula>? FuturosEstrenos { get; set; }
    public List<Pelicula>? EnCartelera { get; set; }

    public ListadoPeliculas? listadoPeliculas;

    protected override async Task OnInitializedAsync()
    {
        // Console.WriteLine("OnInitialized");
        // pelis = repo.ObtenerPeliculas();

        var respuestaHttp = await repo.Get<HomePageDTO>("api/peliculas/");

        if (respuestaHttp.HttpResponseMessage.IsSuccessStatusCode)
        {
            FuturosEstrenos = respuestaHttp.Response!.ProximosEstrenos;
            EnCartelera = respuestaHttp.Response!.PeliculasEnCartelera;
        }
        else
        {
            Console.WriteLine(respuestaHttp.HttpResponseMessage.StatusCode);
        }
    }

    List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>(){
                new Pelicula
            {
            Titulo = "<b>Wakanda Forever</b>",
            FechaLanzamiento = new DateTime(2023, 9, 11)
            },
            new Pelicula
            {
            Titulo = "<i>Moana</i>",
            FechaLanzamiento = new DateTime(2016, 11, 13)
            },
            new Pelicula
            {
            Titulo = "Inception",
            FechaLanzamiento = new DateTime(2010, 7, 16)
            }
         };
    }

    private void AgregarPeli()
    {
        pelis.Add(new Pelicula { Titulo = "Nuevo", FechaLanzamiento = DateTime.Today });
    }

    private void LimpiarPeliculas()
    {
        listadoPeliculas!.LimpiarPelis();
    }
}
