@page "/"

<ListadoPeliculas pelis="ObtenerPeliculas()" />

<BindAfterDemo />

<div>
    <h2>Crear película</h2>
    <EjemploTextbox placeholder="Nombre de película" />

</div>

@code {

    List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>(){
new Pelicula
{
Titulo = "<b>Wakanda Forever</b>",
FechaLanzamiento = new DateTime(2023, 9, 11)
},
new Pelicula
{
Titulo = "<i>Moana</i>",
FechaLanzamiento = new DateTime(2016, 11, 13)
},
new Pelicula
{
Titulo = "Inception",
FechaLanzamiento = new DateTime(2010, 7, 16)
}
};
    }
}
