<p>
    <input type="text" @bind:get="texto" @bind:set="SetAsync" @bind:event="oninput" />
</p>

El valor es: @texto

@code {
    private string texto = string.Empty;

    private Task SetAsync(string valor)
    {
        texto = valor.ToUpper();
        return Task.CompletedTask;
    }
}