<div>
    <label>@Label</label>
    <div>
        <InputFile accept=".jpg,.jpeg,.png" OnChange="OnChange" />
    </div>

    <div>
        @if (imagenBase64 is not null)
        {
            <div>
                <div style="margin: 10px">
                    <img src="data:image/jpeg;base64, @imagenBase64" style="width:400px" />
                </div>
            </div>
        }

        @if (imagenUrl is not null)
        {
            <div>
                <div style="margin: 10px">
                    <img src="@imagenUrl" style="width:400px" />
                </div>
            </div>
        }
    </div>
</div>
