@typeparam Titem

@if (listado is null)
{
    @if (Cargando is null)
    {
        <img alt="alt" src="https://miro.medium.com/v2/resize:fit:1400/1*Gvgic29bgoiGVLmI6AVbUg.gif">
    }
    else
    {
        @Cargando
    }
}
else if (listado.Count == 0)
{
    @if (NoHayRegistros is null)
    {
        <p>No hay elementos para mostrar</p>
    }
    else
    {
        @NoHayRegistros
    }
}
else
{
    if (HayRegistros is not null)
    {
        @foreach (var elemento in listado)
        {
            @HayRegistros(elemento)
            ;
        }
    }
    else
    {
        @HayRegistrosCompleto
    }

}

@code {
    [Parameter]
    public RenderFragment Cargando { get; set; } = null!;

    [Parameter]
    public RenderFragment NoHayRegistros { get; set; } = null!;

    [Parameter]
    public RenderFragment<Titem> HayRegistros { get; set; } = null!;

    [Parameter]
    public RenderFragment HayRegistrosCompleto { get; set; } = null!;

    [Parameter, EditorRequired]
    public List<Titem> listado { get; set; } = null!;
}
