<nav>
    <ul class="pagination justify-content-center">

        @foreach (var enlace in Enlaces)
        {
            <li @onclick=@(() => PaginaSeleccionadaInterno(enlace))
                style="cursor:pointer"
                class="page-item @(enlace.Habilitada ? null : "disable") @(enlace.Activa ? "active" : null)">
                <a class="page-link">@enlace.Texto</a>
            </li>
        }

        @*   <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
        <a class="page-link" href="#">Next</a>
        </li> *@
    </ul>
</nav>
