<div>
    <p>Título : @((MarkupString)pelicula.Titulo)
        @if (DateTime.Today.Subtract(pelicula.FechaLanzamiento).Days <= 14)
        {
            <span style="color: red;">(!Nuevo!)</span>
        }
    </p>
    <p>Fecha de lanzamiento: <b>@pelicula.FechaLanzamiento</b></p>
    @if (MostrarBotones)
    {
        <div><button @onclick="(() => EliminarPeli.InvokeAsync(pelicula))">Borrar</button></div>
    }
</div>


@code {
    [Parameter]
    [EditorRequired]
    public Pelicula pelicula { get; set; } = null!;
    [Parameter]
    public bool MostrarBotones { get; set; } = false;
    [Parameter]
    public EventCallback<Pelicula> EliminarPeli { get; set; }

    void Eliminar()
    {
        Console.WriteLine($"Eliminando la película {pelicula.Titulo}");
    }
}