@page "/peliculas/crear"
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal

<div>
    <h3>Crea Película</h3>

    @if (MostrarFormulario)
    {
        <FormularioPeliculas @ref="formPelicula" GenerosNoSeleccionados="GenerosNoSeleccionados" Pelicula="Pelicula" OnValidSubmit="Crear" />
    }
    else
    {
        <p>Cargando...</p>
    }
</div>
