@page "/peliculas/crear"
@inject NavigationManager navigationManager

<div>
    <h3>Crea Película</h3>

    <FormularioPeliculas @ref="formPelicula" Pelicula="Pelicula" OnValidSubmit="Crear" />
</div>
