@page "/peliculas/editar/{PeliculaId:int}"
@using Microsoft.AspNetCore.Authorization;
@inject NavigationManager navigationManager
@inject IRepositorio repo
@inject SweetAlertService swal
@attribute [Authorize(Roles = "admin")]

<div>
    <h3>Editar Película</h3>
    @if (Pelicula is null)
    {
        <p>Cargando datos de película</p>
    }
    else
    {
        <FormularioPeliculas @ref="formPelicula" GenerosSeleccionados="GenerosSeleccionados" GenerosNoSeleccionados="GenerosNoSeleccionados"
                             Pelicula="Pelicula" OnValidSubmit="Editar" ActoresSeleccionados="ActoresSeleccionados" />
    }
</div>
