@page "/actores"
@inject IRepositorio repo
@inject IRepositorio repositorio
@inject SweetAlertService swal
@inject NavigationManager navigationManager

<h3>Listado actores</h3>
<div class="mb-3">
    <a href="actores/crear" class="btn btn-info">Agregar Actor</a>
</div>

<ListadoGenerico listado="Actores">
    <HayRegistrosCompleto>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Actores!)
                {
                    <tr>
                        <td>
                            <a href="actores/editar/@item.Id" class="btn btn-success">Editar</a>
                            <button class="btn btn-danger" @onclick="(() => Borrar(item))">Borrar</button>
                        </td>
                        <td>
                            @item.Nombre
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </HayRegistrosCompleto>
    <NoHayRegistros>
        No hay actores para mostrar
    </NoHayRegistros>
</ListadoGenerico>

